/* .navbg {
    background-image: url(../images/bgImg.png);
    background-repeat: repeat;
    background-position: center;
  } */
.navbg {
    background:
    radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,rgba(64, 64, 64, 0.72) 68% 70%,#0000 72%) 12px 12px/calc(2*12px) calc(2*12px),
    radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,rgba(64, 64, 64, 0.72) 68% 70%,#0000 72%) 12px 12px/calc(2*12px) calc(2*12px),
    radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,rgba(64, 64, 64, 0.72) 68% 70%,#0000 72%) 0 0/calc(2*12px) calc(2*12px),
    radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,rgba(64, 64, 64, 0.72) 68% 70%,#0000 72%) 0 0/calc(2*12px) calc(2*12px),
    repeating-conic-gradient(#131418 0 25%,#0000 0 50%) 0 0/calc(2*12px) calc(2*12px),
    radial-gradient(#0000 66%,rgba(64, 64, 64, 0.72) 68% 70%,#0000 72%) 0 calc(12px/2)/12px 12px
    #131418;


}